# MedCover production dependencies
# Edit this file, then run: scripts/compile_requirements.sh
# to regenerate requirements.txt

Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Mail
Flask-WTF
gunicorn
psycopg2-binary
schedule
cryptography
itsdangerous
pytz
holidays
openpyxl
icalendar
