# MedCover production dependencies
# Edit this file, then run: pip-compile requirements.in --generate-hashes
# to regenerate requirements.txt

Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-Mail
Flask-WTF
gunicorn
psycopg2-binary
schedule
cryptography
itsdangerous
pytz
holidays
openpyxl
icalendar
