# MedCover dev/test dependencies
# Edit this file, then run: scripts/compile_requirements.sh
# to regenerate requirements-dev.txt

-r requirements.in   # include all production deps

pytest
pytest-cov
pytest-env
pytest-xdist
testcontainers[postgres]
Faker
flake8
pre-commit
mypy
tox
